* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	text-align: center;
}

body{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}



p {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size:20px;
	font-weight: 300;

}

.clue{
	font-size: 36px;
	width: 80vw;
	margin:50px 10vw;
	font-weight: 500;
}

input{
	height: 50px;
	width: 400px;
	margin:20px 0 20px 4vw;
	border:none;
	font-size: 20px;
	display: inline-block;

}

button{
	height: 50px;
	width: 50px;
	margin: 20px 20px 20px -6px;
	border:none;
	background-color: #444;


}

.gradA{
	background: linear-gradient(#4fb0b9, #4fb997);
	height: 100vh;
}

.gradB{
	background: linear-gradient(#7a65ac, #4775ad);
	height: 100vh;
}

.gradC{
	background: linear-gradient(#c54e4d, #e3c255);
	height: 100vh;
}

.question {
	margin: 100px 0 0 0;
	height: 20px;
}

.inputarea{
	display: flex;
	justify-content: center;
	width: 480px;
	margin-top: 0;
}

.shake{
	animation: shake .8s both;
	transform: translate3d(0,0,0);
}

@keyframes shake {
	  10%, 90% {
	    transform: translate3d(-1px, 0, 0);
	  }
	  
	  20%, 80% {
	    transform: translate3d(2px, 0, 0);
	  }

	  30%, 50%, 70% {
	    transform: translate3d(-4px, 0, 0);
	  }

	  40%, 60% {
	    transform: translate3d(4px, 0, 0);
	  }
	}

.arrow{
	width: 30px;
	height: 30px;
}

.congrats{
	display: none;
}

.apple{
	display: none;
}

.nope{
	display: none;
}

@media (max-width:500px){
			input{
				width: 80vw;
			}
			.inputarea{
				width: calc(90vw + 50px);
			}
		}
